.App {
  text-align: center;
  max-width: 600px;
  min-width: 200px;
}


.Header {
  max-width: 600px;
  min-width: 200px;
}

.NavBar {
  border: 2px solid black
}

.navlink{

}

.ArticleCard {
  max-width: 600px;
  min-width: 200px;
}


