.App {
  text-align: center;
  max-width: 600px;
  min-width: 200px;
}


.Header {
  max-width: 600px;
  min-width: 200px;
}

.NavBar {
  border: 2px solid black
}

.navlink{

}

.loggedinUser_img {
  width: 50px;
}

.users_img {
  width : 100px;
}

.loggedInUser_text {
 font-size: 0.5em;
}

.ArticleCard {
  max-width: 600px;
  min-width: 200px;
}

.CommentCard {
  border: solid blue 1px
}

.Votes {
  border: solid black 2px
}


